#text {
	height:400px;
	width:100%;
	border:1px solid #ccc;
	overflow:auto;
	font-size:100%;
	white-space: nowrap;
}

#input {
	height:50px;
	width:75%;
	border:1px solid #ccc;
}

#say {
	height:50px;
	width:24%;
}
